.container {
  display: grid;
  height: 600px;
  grid-template-columns: 1fr 120px;
  grid-template-rows: 70px 1fr;
  grid-gap: 0px;
  border: 3px solid black;
}
.top_bar {
  grid-column: 1/-1;
  border-bottom: 3px solid black;

  text-decoration: none;
  list-style-type: none;
  text-align: center;
}
.top_bar h1 {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.side_bar {
  display: grid;
  width: 100%;
  border-left: 3px solid black;
}

.linesContainer {
  display: grid;

  overflow: auto;

  width: 100%;
}
.line_display {
  display: inline-block;
}

.startButton {
  align-self: center;
  justify-self: center;
  width: 70px;
  height: 40px;
  border-radius: 30%;
  background-color: rgb(4, 95, 140);
  border-color: rgb(4, 95, 140);
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  color: black;
}
