.container {
  display: grid;
  height: 600px;
  grid-template-columns: 1fr 180px;
  grid-template-rows: 70px 1fr;
  grid-gap: 0px;
  border: 3px solid black;
}
.top_bar {
  grid-column: 1/-1;
  border-bottom: 3px solid black;
  /* border-right: none; */
  /* margin: 0px;
    padding: 0px; */
  text-decoration: none;
  list-style-type: none;
  text-align: center;
}
.side_bar {
  grid-row: -1/0;

  border-left: 3px solid black;
}
.line_display {
  display: inline-block;
}
