.display {
  display: inline-block;
}
#fillers {
  width: 30px;
  height: 30px;
  margin: 10px;
}
#checkBtn {
  width: 60px;
  height: 30px;
  border-radius: 40%;
  background-color: aquamarine;
  border-color: aquamarine;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  color: black;
}
