.display {
  display: inline-block;
}
.fillers {
  width: 30px;
  height: 30px;
  margin: 10px;
}
.checkBtn {
  width: 60px;
  height: 30px;
  border-radius: 40%;
  background-color: rgb(0, 150, 219);
  border-color: rgb(122, 200, 236);
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  color: black;
  margin: 10px;
}
.checkBtn:disabled {
  background-color: rgb(76 180 229 / 32%);
  border-color: rgba(56, 187, 247, 0.548);
}

.boardAlignment {
  margin: 5px 10px;
}

.dotAlignment {
  display: inline-block;
  /* display: flex; */
  /* justify-content: space-between; */
  align-content: flex-start;
  margin-right: 10px;
  margin-top: 10px;
}
